# This notebook is just made for exploratory data analysis

In [3]:
import pandas as pd

## Loading the data

In [4]:
df = pd.read_parquet("/home/navarch/DNS-analysis-datascience/data/raw/dummy_dns_data.parquet")

## Displaying first few rows for just checking

In [5]:
df.head()

,timestamp,qname,domain,rcode,ancount,nscount,rrr1,rrr2
0,1690965068,sub65.navya.com,dev.net,3,5,0,"[{'clas': 1, 'data': 'data4', 'name': 'sub33.p...","[{'clas': 1, 'data': 'data1', 'name': 'sub17.n..."
1,1692426205,sub51.dev.net,navyait.edu,1,1,1,"[{'clas': 1, 'data': 'data68', 'name': 'sub39....","[{'clas': 1, 'data': 'data68', 'name': 'sub82...."
2,1673523673,sub62.navya.com,navyait.edu,4,3,3,"[{'clas': 1, 'data': 'data22', 'name': 'sub86....","[{'clas': 1, 'data': 'data93', 'name': 'sub21...."
3,1685835504,sub54.anand.com,navyait.edu,3,1,1,"[{'clas': 1, 'data': 'data78', 'name': 'sub92....","[{'clas': 1, 'data': 'data51', 'name': 'sub83...."
4,1686032417,sub15.dev.net,dev.net,4,3,2,"[{'clas': 1, 'data': 'data10', 'name': 'sub42....","[{'clas': 1, 'data': 'data10', 'name': 'sub94...."